<header>
  <nav class="navbar navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <%= link_to "sample app", root_path, id: "logo" %>
      <ul class="d-flex">
        <li><%= link_to "Home", static_pages_home_path %></li>
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" 
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Action
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", users_path %></li>
              <li class="dropdown-divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
